################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin
obj
.vs
/Documentation/api
/Documentation/_site
nupkg
/Git2SemVer.sln.DotSettings.user
/TestSolutions/TestSolutionWithTwoProjects/Directory.Build.props
/TestSolutions/TestSolutionWithTwoProjects/SolutionVersioningProject
/TestSolutions/TestSolutionWithTwoProjects/Versioning.Build.props
/TestSolutions/SolutionVersioning/SolutionVersioningProject
/SolutionVersioningProject/.git2semver/Git2SemVer.VersionProperties.json
/SolutionVersioningProject/.git2semver/Git2SemVer.Generated.Properties.g.props
/SolutionVersioningProject/.git2semver/Git2SemVer.Generated.Properties.g.json
/SolutionVersioningProject/.git2semver/Git2SemVer.Generated.Properties.g.json
