################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin
obj
.vs
/Documentation/api
/Documentation/_site
nupkg
/SolutionVersioningProject/.git2semver/Git2SemVer.VersionInfo.g.json
*.user
